<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img src="images/travel.png" width="100" height="100" alt="">
        <h2 class="h2">Travel Assistant <small class="d-none">🛡️</small></h2>
        <p>Organize your travel plans for every trip to create the itinerary best suited for you by keeping track of activities, accomodations, and more. </p>
    </div>
    <div class="col-lg-4">
        <img src="{{ `images/share.png`}}" width="100" height="100" alt="">
        <h2 class="h2">Shared Itineraries <small class="d-none">🚀</small></h2>
        <p>Create itineraries collaboratively in groups, where members can contribute to each trip and collectively vote on plans for every event. </p>
    </div>
    <div class="col-lg-4">
        <img src="images/calendar.png" width="100" height="100" alt="">
        <h2 class="h2">Calendar View <small class="d-none">📈</small></h2>
        <p>View and edit your itineraries in calendar or timeline format for a more organized and visual experience. </p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Map Integration <small class="d-none">🦉</small></h2>
        <p>View locations and interact with of all the events on your itineraries on a map, and get the distances and travel times between each event.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Trip Cost Estimation <small class="d-none">🧰</small></h2>
        <p>Get a financial summary of your trip itinerary including total spent, categories, and up to date currency conversion rates.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Personal Recommendations <small class="d-none">✨</small></h2>
        <p>See what other users are doing on their trips to the same location based on your interests.</p>
    </div>
</div>
